#header span.position {
    display: none;
}

div.column-container {
	text-align: center;
}

body.Student div#banner .logo a {
    background: transparent url(../_images/qut-login.png) no-repeat 0 0;
    font-size: 20px;
    text-indent: 60px;
    color: #fff;
    line-height: 52px;
}

.slide {
    background: url(../_images/btn-slide.png) no-repeat 0 0;
}

#acknowledgement {
    background: url(../_images/acknowledgement-thumbnail-2016.jpg) no-repeat scroll left 15px rgba(0, 0, 0, 0)!important;
}

footer div#acknowledgement h3 {
    margin: 20px 0;
}

div.elstatus {
	text-align: center;
    color: #eee;
    font-size: 1.1em;
}

div.elstatus.risk { background: darkred; }
div.elstatus.warning { background: goldenrod; }
div.elstatus.good { background: forestgreen; }

div.elcontent {
    background: #eee;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.elcontent > div.chart {
	margin: 1em 5%;
    flex-basis: 40%;
    background: #000;
    height: 300px;
}

iframe.chart {
    width: 100%;
    height: 500px;
}

div.elcontent .title {
    width: 100%;
}