.Low {
	/*background: url(../images/priority_minor.gif) 0 50%;
	background-repeat:no-repeat; padding:2px 0 2px 20px;*/ vertical-align:middle;
	font-family: "Courier New" Courier monospace;
	font-size: 105%; color: green;
}
.Normal {
	/*background: url(../images/priority_major.gif) 0 50%;
	background-repeat:no-repeat; padding:2px 0 2px 20px;*/ vertical-align:middle;
	font-family: "Courier New" Courier monospace;
	font-size: 105%; color: black;
}		
.High {
	/*background: url(../images/priority_blocker.gif\) 0 50%;
	background-repeat:no-repeat; padding:2px 0 2px 20px;*/ vertical-align:middle;
	font-family: "Courier New" Courier monospace;
	font-size: 105%; color: red; text-decoration: blink;
}

/*Override Theme links to ensure they are legible, sometimes links disappear due to how links are defined in themes
his is a common problem. However instead of controlling via theme only providing extra override ability via Alert specific CSS*/
.contentDetails a {
	color: blue;   /*#1111FF*/
	text-decoration: underline;
}

.msg-subject{
	padding-right:24px;}