#p_p_id_Dynamicnav_WAR_dynamicnav_ .portlet-borderless-bar {
    display:none!important;
}

#p_p_id_Dynamicnav_WAR_dynamicnav_ .column-EMP {
    min-height: 315px!important;
    width: 24.25%!important;
}