/* ---------- Control_panel.css ---------- */
.ie6 .lfr-ctrl-panel .panel-page-category .category-portlets li {
	zoom:1;
}

/* ---------- application.css ---------- */
.ie .ui-dialog-overlay {
	filter:alpha(opacity=80);
}

.ie .ui-tabs-disabled {
	filter:alpha(opacity=40);
}

.ie .ui-proxy {
	filter:alpha(opacity=65);
}

.ie .ui-slider-disabled .ui-slider-handle {
	filter:alpha(opacity=50);
}

.ie .ui-slider-range {
	filter:alpha(opacity=30);
}

.ie6 .ui-datepicker-cover {
	display:block;
	filter:mask();
	height:200px;
	left:-4px;
	position:absolute;
	top:-4px;
	width:193px;
	z-index:-1;
}

/* ---------- layout.css ---------- */
/*-------- Css for IE7 ----------*/
.padIE7 {
	*margin-left:0!important;
}

/* ---------- forms.css ---------- */
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus {
	outline:thin solid \9;
/* IE6-9 */
}

input[type="radio"],input[type="checkbox"] {
	margin-top:1px \9;
	*margin-top:0;
}

select,input[type="file"] {
	*margin-top:4px;
/* For IE7, add top margin to align select with labels */
}

/* ---------- Css.jsp ---------- */
.ie6 .block-labels .form-hint {
	margin-top:0;
}

button.btn,input[type="submit"].btn {
	*padding-top:3px;
	*padding-bottom:3px;
}

button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner {
	padding:0;
	border:0;
}

button.btn.btn-large,input[type="submit"].btn.btn-large {
	*padding-top:7px;
	*padding-bottom:7px;
}

button.btn.btn-small,input[type="submit"].btn.btn-small {
	*padding-top:3px;
	*padding-bottom:3px;
}

button.btn.btn-mini,input[type="submit"].btn.btn-mini {
	*padding-top:1px;
	*padding-bottom:1px;
}

.btn-link,.btn-link:active,.btn-link[disabled] {
	background-color:transparent;
	background-image:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.btn-link {
	color:#08c;
	cursor:pointer;
	border-color:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.btn-link:hover,.btn-link:focus {
	color:#005580;
	text-decoration:underline;
	background-color:transparent;
}

.btn-link[disabled]:hover,.btn-link[disabled]:focus {
	color:#333;
	text-decoration:none;
}

.column-1,.column-2,.column-3,.column-4,.column-5,.column-6,.column-7,.column-8,.column-9,.column-10,.column-11,.column-12,.column-13,.column-14,.column-15,.column-16 {
	*margin-left:.975555555%;
}

.msg-center h1,.msg-center h2,.msg-center h3,.msg-center h4,.msg-center h5,.msg-center h6 {
	text-rendering:optimizelegibility;
}

#page-cover {
	opacity:.5;
}

.allcheck {
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	*padding:3px 3px 5px;
}