/*==========================================================================+
|  PRINT CSS - print.css
|
|  Version: 1.0
|  Date Last Updated: 29/10/2014
|  Last Updated By: Andy McBride
+==========================================================================*/

/* Boilerplate print styles */
* {
	background: transparent!important;
	color: #000!important;
	text-shadow: none!important;
	filter: none!important;
	-ms-filter: none!important;
}

a,
a:visited {
	text-decoration: underline;
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

a[href]:after,
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}

pre,blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr,img {
	page-break-inside: avoid;
}

img {
	max-width: 100%!important;
}

@page {
	margin: .5cm;
}

h1 {
	display: block !important;
	margin-top: 1em;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

/* Forces responsive display to a one column layout */
.lfr-column {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

/* Hides portlets from printing that are undeployed */
.lfr-configurator-visibility {
	display: none !important;
}

/* Forces Bootstrap accordion to expand all to print */
.accordion-group .accordion-body.collapse {
	display: block !important;
	height: auto !important;
}

/* Forces Bootstrap tabs to print all */
.tab-content > .tab-pane {
	display: block !important;
	opacity: 1 !important;
}

/* Force RSS feed portlets to display all entries (ie. no max height) */
#upcoming-training .training-entries,
#upcoming-events {
	height: auto !important;
	max-height: auto !important;
	overflow: visible !important;
}

body.controls-visible .portlet-borderless-bar,
body.controls-visible .portlet-icons,
body.controls-visible .icons-container {
	display: none !important;
}

/* Feedback portlet */
.portlet-boundary_FeedBack_WAR_WebContentDashBoard_ {
	display: none !important;
}