.links-with-menu.default ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0
}

.links-with-menu.default ul li {
    float: left;
    text-align: center
}

.default .dropdown > ul > li > a,.default .multi-dropdown > ul > li > a {
    display: block;
    padding: 5px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap
}

.default .dropdown > ul > li > a:hover,.default .multi-dropdown > ul > li > a:hover,.default .dropdown > ul > li > a:focus,.default .multi-dropdown > ul > li > a:focus {
    color: #262626;
    text-decoration: none
}

.default .tab-menu > ul > li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap
}

.default .tab-menu > ul > li > a:hover,.default .tab-menu > ul > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}

.tab-content {
    padding: 4px
}

.accordion.default,.show-hide.default {
    border: 1px solid #ddd;
    border-radius: 4px
}

.accordion.default .accordion-header,.show-hide.default .show-hide-header {
    background: #eee;
    padding: 8px 4px 8px 10px;
    border-radius: 4px 4px 0 0;
    margin: 2px 0 0
}

.accordion.default .accordion-content,.show-hide.default .show-hide-content {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin: 0 0 2px;
    padding: 10px
}

.btn-grp.default button {
    background: #fff;
    border: 1px solid #ededed;
    border-left: none
}

.btn-grp.default button:hover {
    background: #eee
}

.btn-grp.default button:active {
    background: #eee;
    top: 1px
}

.btn-grp.default button:focus {
    background: #eee;
    outline: none
}

.btn-grp.default ul li a {
    text-align: left;
    text-decoration: none;
    color: #000;
    display: block;
    outline: none;
    padding: 0 20px
}

.btn-grp.default ul li {
    border: 1px solid transparent;
    float: left;
    height: 31px;
    line-height: 31px;
    position: relative;
    width: 99%;
    padding: 0;
    display: block
}

.btn-grp.default ul li:hover {
    background: #eee
}
